:root{
    --primaryColor:Black;
}

*{
    box-sizing: border-box;
}

body{
    background-image: url(https://static.wikia.nocookie.net/otaku_encyclopedia/images/4/4c/Waifu_Image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255, 186, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 15px;
}

h1{
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    text-align: center;
    -webkit-text-stroke: 1px white;
    font-size: 6rem;
    text-shadow: -2.5px 2.5px rgb(192, 192, 192);
    border-radius: 5px;
}

#ValueFolder{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 400px;
    height: 5pc;
    align-items: center;
    font-size: x-large;
    gap: 50px;
    background-color: white;
    border-radius: 5px;
}

button{
    border-radius: 10px;
    background-color: rgb(255, 252, 203);
    color: rgb(255, 36, 36);
    height: 50px;
    width: 110px;
    
}

button:hover{
    transform: scale(1.05);
    border-color: rgb(208, 255, 0);
}

#poop{
    background-color: brown;
    color: black;
}

#pee{
    background-color: yellowgreen;
    color: black;
}

#reset{
    background-color: red;
    color: black;
}

#text{
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 2.5rem;
}
